body{
  font-family: arial, sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.detailsTable td{
  border:none;
}

.detailsTable th{
  border-width: 0 0 2px 0;
  border-color: rgb(39, 39, 39);
}

.detailsTable{
  background-color: #dcdcdc;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */